aiodns==3.1.1
aiohttp==3.8.6
aiohttp-jinja2==1.5.1
cachetools==5.3.2
coloredlogs==15.0.1
cryptography==41.0.5
defusedxml==0.8.0rc2
git+https://github.com/Yakifo/amqtt@main#amqtt==11.0.0
gmqtt==0.6.12
Jinja2==3.1.2
passlib==1.7.4
setuptools==68.2.2
tinydb==4.8.0
verboselogs==1.7
websockets==10.4
