* {
  transition: all 0.75s ease-in-out;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Inter, InterVariable, sans-serif;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  letter-spacing: -.025em;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 1rem;
}

.card {
  margin-bottom: 1rem;
  border: 1px solid var(--card-border-color);
  box-shadow: var(--card-box-shadow);
}

.card-header {
  .btn-restart-left {
    text-align: left;
    margin-top: 0.25rem;
  }
}

.card-title-with-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.badge {
  font-size: var(--bade-size);
  padding: 0.3rem 0.5rem;
}

.table {
  margin-bottom: 0;

  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-width: 8rem;
  }
}

.table-dark {
  --bs-table-bg: rgb(var(--bs-dark-rgb));
}

svg {
  width: .75rem;
  height: .75rem;
}

footer {
  /* position: fixed;
  bottom: 10px;
  right: 10px; */
  /* background: rgba(255, 255, 255, 0.8); */


  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  text-align: end;

  .version {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .375rem;
    padding-inline-end: 1.5rem;
    font-size: .75rem;
    line-height: 1rem;
    opacity: .8;

    .split {
      opacity: .7;
      background-color: hsl(220 4% 67%);
      width: 1px;
      height: .625rem;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: .125rem;
      color: var(--muted-color);
    }

    a:hover {
      color: var(--text-color);
    }
  }
}

#toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
}

.toast {
  margin-bottom: 0.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.9rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s ease-in-out;
}

.toast-info {
  background-color: #17a2b8;
}

.toast-success {
  background-color: #28a745;
}

.toast-error {
  background-color: #dc3545;
}

.table-responsive {
  border-radius: calc(var(--radius) - 6px);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


@media (max-width: 1642px) {
  .container-fluid {
    max-width: 80%;
  }
}

@media (max-width: 1400px) {
  .container-fluid {
    max-width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .container-fluid {
    max-width: 100%;
  }
}

:root {
  --text-color: hsl(210 17% 16%);
  --background-color: hsl(210 36% 96%);
  --bade-size: .675rem;
  --card-border-color: hsl(210 3% 29%);
  --card-box-shadow: 0 4px 6px hsla(0 0% 0% 0.1);
  --muted-color: hsl(210 17% 60%);

  --radius: .8rem;
  --bs-body-font-size: .875rem;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(210 17% 96%);
    --background-color: hsl(220 5.5% 9%);
    --card-border-color: hsl(220 3% 16%);
    --card-box-shadow: 0 0 0;
    /*0 4px 6px hsla(0 0% 71% 0.1);*/

    --bs-dark-rgb: 33, 37, 41;
    --bs-body-bg: hsl(220 5.5% 10.5%);
    --muted: 220 6% 16%;
    --muted-foreground: 220 4% 67%;
    --accent-foreground: 220 2% 98%;
    --border: 220 3% 16%;
    --bs-border-color: hsl(var(--border) / .6);
  }

  .bg-dark {
    background-color: hsl(var(--muted) / .3) !important;
  }

  .table-dark {
    --bs-table-bg: hsl(var(--muted) / .3) !important;
    --bs-table-color: hsl(var(--muted-foreground));
    --bs-table-border-color: hsl(var(--border) / .6);
  }

  .table> :not(caption)>*>* {
    color: hsl(var(--accent-foreground));
  }

  .border-0 {
    border: 1px solid var(--card-border-color) !important;
  }

}
